* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Variables */
:root{
    --color-primary:  #6C63FF;
    --color-secundary:  #abe8f1;
    --fz-20: 20px;
    --margin: 20px 20px;
    --padding: 10px 5px 0px 0px;
    --font-tahoma: Tahoma;
}

.contenedor {
    height: 400px;
    border: 1px solid salmon;
    display: flex;
    flex-wrap: wrap;    
}

.item {
    border: 1px solid blue;
    height: 60px;
    width: 60px;
}

.form-principal {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

nav ul {
    flex-wrap: wrap;
    display: flex;
}

nav li {
    list-style: none;
    padding: 0 20px;
    color: gray;    
}

nav li:hover {
    color: rgb(19, 19, 19);
}

.menu {
    display: flex;
}

.menu span {
    font-size: 25px;
    font-weight: bold;
}

.btn-login {
    background-color: white;
    color: var(--color-primary);
    border: 0.5px solid rgb(201, 201, 201);
}

.btn-login:hover {
    background-color: rgb(248, 248, 248);
}

.btn-signup {
    background-color: var(--color-primary);
    color: white;
    border: 0.5px solid rgb(201, 201, 201);
}

.btn-signup:hover {
    background-color: var(--color-primary);
}

.btn {
    border-radius: 10px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0 10px;
}

.section-principal {
    background-image: url(/images/fondo.png);
    background-size: cover;
    height: 600px;
    width: 100%;
}

.section-principal-texto {
    width: 50%;
    padding: 10px 40px;
}

.section-principal-texto h1 {
    line-height: 70px;
    font-size: 70px;
    margin-bottom: 40px;
}

.section-principal-texto span {
    display: block;
    color: var(--color-primary);
}

.section-principal-texto p {
    font-size: 20px;
    color: rgb(36, 36, 36);
    margin-bottom: 40px;
}

.section-principal-texto .started {
    background-color: var(--color-primary);
    border: none;
    padding: 20px 40px;
    color: white;
    font-size: 15px;
}

.section-principal-texto .lesson {
    background-color: var(--color-secundary);
    border: none;
    padding: 20px 40px;
    color: var(--color-primary);
    font-size: 15px;
}


.contenedor2{
    width: 400px;
    height: 500px;
    border: 1px solid var(--color-primary);
    display: flex;
    margin: 0px 10px;
}

.box1{ 
    width: 30%;    
    border: 1px solid var(--color-secundary);
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: gray;
}

.box2{    
    width: 70%;    
    border: 1px solid var(--color-secundary);
    display: flex;
    justify-content: center;
    
}

.icon{    
    border: 1px solid red;
    width: 40px;
    height: 40px;
}

.align-fe{
    align-self: center;
}


.section-secundary{
    display: flex;
}


@media screen and (max-width: 1024px) { } /* Portátiles */
@media screen and (max-width: 768px) { /* Tablet */    
    .section-principal {
        background-image: url(/images/fondotablet.png);
    }
    nav{
        flex-wrap: wrap;
    }

    .section-secundary{
        flex-wrap: wrap;
        margin-top: 80px;
        /* flex-direction: column; */
    }
    .section-principal-botones{
        display: flex;   
        width: 100%;
        justify-content: center;        
    }

    .contenedor2{
        width: 45%;
    }
}
@media screen and (max-width: 425px) {
    .section-principal {
        background-image: url(/images/fondomovil-425.png);
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    nav ul{        
        flex-wrap: nowrap;
        padding: 0;
    }
    nav{
        padding: 5px;
    }
    nav li{
        padding: 5px;
    }
    .btn-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .btn{
        padding: 5px 20px;
        margin-bottom: 5px;
    }

    .section-principal-texto h1 {
        line-height: 30px;
        font-size: 30px;
        margin-bottom: 40px;        
    }

    .section-principal-texto{
        margin-top: 100px;
        width: 100%;
        padding: 10px;
    }
    .contenedor2{
        width: 100%;
    }
    .section-principal-texto p{
        font-size: 15px;        
    }
    .section-principal {
        width: 100%;
    }

    .section-principal-botones{
        display: flex;   
        width: 100%;
        justify-content: center; 
    }
    
    .section-principal-texto .started{
        padding: 10px 10px;
    }

    .section-principal-texto .lesson{
        padding: 10px 10px;
    }

    .section-secundary{
        margin-top: 0;
        height: 300px;        
    }
    .contenedor2{
        height: 90%;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 320px) {    
    .section-principal {
        background-image: url(/images/fondomovil.png);
    }
}